/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background: url(../image/herramientas.jpg) no-repeat center center fixed;
    background-size: cover;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

body .container img{
    padding-top: 85px;
    padding-bottom: 85px;
}
.detalleImagen{
    background: rgb(35, 8, 88);
    
    border-top: #fff solid 0.1px;
    border-left: #fff solid 0.1px;
    border-bottom: #fff solid 0.1px;
    border-radius: 20px 0px 0px 25px;
    
}

